.logo {
  display: block;
  width: auto;
  max-width: 100%;
  height: 2.5rem;
  object-fit: contain;
}
.icon {
  width: auto;
  height: 2.5rem;
}
.darkLogo {
  display: none;
}
:global([data-mantine-color-scheme='dark']) .lightLogo {
  display: none;
}
:global([data-mantine-color-scheme='dark']) .darkLogo {
  display: block;
}
